.image3{
  margin-left: 320px;
  width: 650px;
  animation: 4s anim-lineUp ease-out ;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.head8{
    color: black;
    font-size: 25px;
}