.text12{
    margin-left: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    animation: 4s anim-lineUp ease-out ;
}

.text13{
    margin-left: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    animation: 5s anim-lineUp ease-out ;
}

.para6{
    margin-left: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    font-size: 23px;
    animation: 6s anim-lineUp ease-out ;
}


input[id=te]{
    height: fit-content;
    width: 400px;
    margin-top: 20px;
    font-size: 23px;
    border-radius: 10px;
    text-align: justify;
}

input[type=email]{
    height: 70px;
    width: 400px;
    margin-top: 20px;
    font-size: 23px;
    border-radius: 10px;
    text-align: justify;
}

input[id=submit]{
    margin-top: 20px;
}

.group{
    margin-left: 70px;
    animation: 6s anim-lineUp ease-out ;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }